<!DOCTYPE html>
<html>
  <head>
    <!--  Each token will be replaced by their respective titles in the resulting page. -->
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">CNSS TITLE</title>
    <link th:replace="fragments/style"/>
  </head>
  <body>
    <div th:replace="fragments/header"></div>
    
    
    
    <div class="container-fluid" style="margin-top:80px;">
    
    <div class="row">
  	
  
  			<div  th:replace="fragments/verticalmenu"></div>
  
 	
 		 <div class="col-lg-8">
  
  	  			 <div   layout:fragment="content"></div>
  
  		</div>
  
	</div> 
        
    </div>
    
    <div th:replace="fragments/footer"></div>
    
    <div th:replace="fragments/js"></div>
    
  </body>
</html>