<!DOCTYPE html">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
        <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
        <title>Access Denied Page</title>
        <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
    </head>
    <body>
	
	<div id="spam">
    <h1><spam>X</spam> Access Denied(403)</h1>
    <p>Secure content is being accessed<br/><br/>
    <small>-----------------------------------------------------</small></p>
  </div>
       
		
		
		
    </body>
</html>