<html>
    <head>
       <meta charset="UTF-8">
       
        <style>
            h1 {text-align:center;}
            p {text-align:center;}
            
 /*css Vertical Menu*/
.vertical-menu {
    max-width: 200px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}
        </style>
    <head>
<body>
<div class="col-sm-2"> 

<div class="vertical-menu">
  <a href="" class="active">Gestion</a>
  <a href="/livre">Gestion des Livres</a>
  <a href="/employee">Gestion des Employés</a>
  <a href="#">Link 3</a>
  <a href="#">Link 4</a>
</div>

<div class="vertical-menu">
  <a href="#" class="active">Module 2</a>
  <a href="#">Link 1</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a>
  <a href="#">Link 4</a>
</div>
 </div>
</body>
</html>
