<html>
    <head>
       <meta charset="UTF-8">
    <head>
<body>
<div class="col-lg-2"> 

<div class="vertical-menu">
  <a href="" class="active">Gestion</a>
  <a href="/livre">Gestion des Livres</a>
  <a href="/employee">Gestion des Employés</a>
  <a href="#">Link 3</a>
  <a href="#">Link 4</a>
</div>

<div class="vertical-menu">
  <a href="#" class="active">Module 2</a>
  <a href="#">Link 1</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a>
  <a href="#">Link 4</a>
</div>

</body>
</html>
 </div>